version: '3.8'

services:
  redis:
    image: redis:7-alpine
    hostname: redis
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data
    networks:
      - eyepeateavea_network

  app:
    build: .
    ports:
      - "8020:8020"
    environment:
      REDIS_URL: redis://redis:6379/0
      HOST_URL: https://stremio-dev.lynuxss.com
      # ADDON_PASSWORD: your_addon_password # Uncomment and set in .env for production
    depends_on:
      - redis
    networks:
      - eyepeateavea_network

volumes:
  redis_data:

networks:
  eyepeateavea_network:
    driver: bridge
